*{
    padding: 0;
    margin: 0;
}

.Application {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    width: 200px;
    color: white;
    border-radius: 10px;
    border-color: black;
}